body{
    background-color: rgb(77, 169, 230);
}
.container{
    padding: 10px;
    color: rgb(19, 3, 37);
    /* border: 1px solid yellow; */
    text-align:center;
}

#brandname{
    font: 40px;
}
.ml-container{
    position: relative;
    /* top: 50px;    */
    /* border: 1px solid yellow; */
    /* text-align:center; */
}
.instructions h2{
    margin-bottom: 0px;
    /* border: 1px solid white; */
    color: rgba(255, 255, 255, 0.76) ;
}
.instructions ul{
    /* border: 1px solid yellow; */
    margin-top:5px;
    /* text-decoration: none; */
    font-style: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.76) ;
}

.instructions ul li{
    text-decoration: solid;
    /* border: 1px black solid; */
    position: relative;
    left: -15px;
}
.ml-container form{
    height: 150px;
    width: 600px;
    margin: 0 auto;
    border: 1px solid white;
}

.ml-container textarea{
    margin-top: 10px;
    position: relative;
    margin-left: 7.5px;
    border-radius: 5px;
}

.ml-container input{
    height: 30px;
    width: 70px;
    position: relative;
    float: right;
    right: 9px;
    top: 3px;
    border-radius: 5px;
    font-weight: bold;
    color: red;
}

